/* APPLICANT DASHBOARD CSS */
.banner{
    width: 900px;
    height: 120px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.banner-gradient {
    background-image: linear-gradient(to right, #CDE3FF, #90C1FF, #427FCC, #0047A1, #84BBFF);
}

.banner-text {
    font-weight: bold;
    font-size: 40px;
}

.banner-icon {
    width: 250px;
    height: 200px;
}

.db-h2 {
    font-weight: bold;
    color: #111D5B;
}

.db-h4 {
    font-size: 30px;
    color: #111D5B;
}

.db-h5 {
    font-weight: bold;
    color: #111D5B; 
}

.db-text {
    font-weight: bold;
    color: #111D5B; 
    font-size: 20px;
}

.text-color-1 {
    color: #3377CC;
}

.text-color-2 {
    color: #F04D23;
}

.text-color-3 {
    color: #3EB52B;
}

.text-color-4 {
    color: #800000;
}

.card {
    min-height: 150px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 17px;
}

.card-icon {
    width: 40px;
    height: 40px;
}

.counter {
    font-size: 96px;
    font-weight: bold;
}

.applications-counter {
    font-size: 70px;
    font-weight: bold;
    color: #111D5B; 
}

.edit-stages {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }

  .edit-stages-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 450px;
    text-align: center;
  }

/* EMS DASHBOARD CSS  */

/* ADMIN CSS */

.emp-card {
height: 300px;
}

/* END ADMIN CSS */

/* EMPLOYEE CSS */

.info-card-height {
    height: 150px;
}

.info-header {
    font-weight: 700;
    font-size: 20px;
}

/* Custom styles for the cards */
.card-custom {
    width: 100%; /* Default full width within its column */
    height: auto; /* Adjust height automatically based on content */
    border: 1px solid #ddd; /* Optional: add a border for clarity */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow */
    padding: 16px; /* Spacing inside the card */
    background-color: #fff; /* Card background color */
}

/* Adjust width for specific cards */
.card-custom.card-wide {
    width: 600px; /* Set specific width for wider cards */
}

/* Adjust height for specific cards */
.card-custom.card-tall {
    height: 150px; /* Example fixed height for taller cards */
}

/* END EMPLOYEE CSS */

.cont-size {
    width: 650px;
    height: 800px;
}

@media (max-width: 768px) {
    .dashboard-row {
        flex-direction: column;
    }
}

@media (max-width: 900px) {
    .banner {
        display: none !important;
    }

    .welcome-text-only {
        display: block !important;
        font-weight: bold;
        font-size: 40px;
        color: #111D5B; /* Adjust color as needed */
    }
}

/* Default display settings (desktop) */
.welcome-text-only {
    display: none; /* Hide on larger screens */
}