/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.*
.phpunit.result.cache
Homestead.*
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed

/storage/logs/*
!/storage/logs/.gitignore

/storage/framework/views/*
!/storage/framework/views/.gitignore

/storage/app/google-drive.json