/* Navbar */
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
}

.icon-color {
    color: white;
    max-width: 100%;
    height: 100%;
}

.navbar {
    background-color: #3377CC;
    border-bottom: 1px solid #3377CC;
    height: 70px;
}
  
.cc-nav-text {
    color: white;
    letter-spacing: 2px;
    font-weight: bold;
}

.user-name {
    color: white;
    letter-spacing: 2px;
    font-weight: bold;
}
  
.cclogo {
    width: 50px;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.user-img {
    width: 30px;
    height: 30px;
}

@media (max-width: 1024px) {
    .navbar {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 991px) {
    .navbar div {
        margin: 0;
    }

    .navbar {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        max-height: 100%;
    }
}

/* Media Query for Smaller Screens */
@media (max-width: 768px) {
    .navbar .user-name {
        display: none; /* Hide text */
    }

    .navbar .user-img {
        margin-left: auto; /* Adjust alignment for the dropdown */
    }

    .navbar .login {
        display: none; /* Hide text */
    }
}

@media (max-width: 440px) {
    .navbar .cc-nav-text {
        display: none; 
    }
}
/* End of Navbar */