@font-face {
    font-family: 'Caudex';
    src: url('/font/Caudex-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Caudex', sans-serif;
}

html, body {
    height: 100%;
}

.d-non {
    display: none;
}

tr.selected-row {
    background-color: #e9f7ef !important; /* Light green, change if needed */
}

.plain-input {
    border: none;
    background: transparent;
    padding: 0;
    font-weight: 500;
    color: #212529;
    width: 100%;
}

.plain-input[readonly] {
    pointer-events: none;
}

.plain-input:focus {
    outline: none;
    border-bottom: 1px solid #ccc;
    background-color: #fdfdfd;
}

.manage-users-container {
    margin: 8rem 20rem 0 20rem;
}

@media print {
    select.status-dropdown {
        display: none !important;
    }

    .status-label {
        display: inline-block !important;
    }
}
